:root {
    --shade-light: #384266;
    --shade-dark: #181a29;
    --shade-inset-light: #282f49;;
    --shade-inset-dark: #1f2236;;
    --shade-primary: #fff;
    --shade-aside: #1f223671;
    --shade-toggle-on: #384266;
}