:root {
    --shade-light: #f3f7ff;
    --shade-dark: #bbc5d4;
    --shade-inset-light: #dbe1ec;
    --shade-inset-dark: #c4cddd83;
    --shade-primary: #141414;
    --shade-aside: #5a5a5a7a;
    --shade-toggle-on: #00a1ff;
}