:root {
    --basic-unit: 1vh;
    --basic-unit-px: 0.126vh;
    --shade-secondary: #d10000;
    --shade-toggle: #f3f7ff;
    --shade-toggle-bck: #bfbfbf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--shade-light);
}

#setting, section, #container, aside footer {
    display: flex;
}

section, #container {
    justify-content: center;
    align-items: center;
}

main, #setting label, #container {
    position: relative;
}

aside, label[for = "toggleAside"] input, section, #container::before, .hand, aside footer, #darkMode + span, #darkMode + span::before  {
    position: absolute;
}

aside, section {
    height: 100%;
}

label[for = "toggleAside"] {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
}

#toggleAside + div {
    transition: all 0.5s;
    -webkit-mask: url(./../resources/menu.svg) no-repeat center; 
    mask: url(./../resources/menu.svg) no-repeat center;
}

#toggleAside:checked + div {
    transform: rotate(180deg);
    -webkit-mask: url(./../resources/cross.svg) no-repeat center; 
    mask: url(./../resources/cross.svg) no-repeat center;
} 

#darkMode + span::before, #container, #container::before {
    border-radius: 100%;
}

aside footer, #links {
    width: 100%;
}

aside {
    width: 15rem;
    background: var(--shade-aside);
    color: var(--shade-light);
    z-index: 10;
}

aside > * {
    padding: 2rem 1rem 1rem;
}

aside header {
    font-size: 2rem;
    border-bottom: 2px solid var(--shade-light);
}

#darkMode + span {
    background: var(--shade-toggle-bck);
    cursor: pointer;
    border-radius: 5rem;
    right: 0;
    width: 2.5rem;
    height: 1.25rem;
    transition: all .5s;
}

#darkMode + span::before {
    content: "";
    left: 0.125rem;
    top: 0.125rem;
    width: 1rem;
    height: 1rem;
    background: var(--shade-toggle);
    transition: all .5s;
}

#darkMode:checked + span {
    background: var(--shade-toggle-on);
}

#darkMode:checked + span::before {
    left: 1.375rem;
}

aside footer {
    border-top: 2px solid var(--shade-light);
    bottom: 0;
    flex-direction: column;
    align-items: flex-start;
}

#links > a {
    margin-right: 1.5rem;
    text-decoration: none;
}

#links div {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    cursor: pointer;
    background: var(--shade-light);
}

#toggleAside + div {
    width: 2.5rem;
    height: 2.5rem;
    background: var(--shade-primary);
}

section {
    right: 0;
    width: calc(100vw - 15rem);
    background: -webkit-linear-gradient(105deg, var(--shade-dark), var(--shade-light));
}

#container {
    width: calc(50 * var(--basic-unit));
    height: calc(50 * var(--basic-unit));
    max-width: calc((100vw - 15rem) * 0.5);
    max-height: calc((100vw - 15rem) * 0.5);
    box-shadow: calc(-8 * var(--basic-unit-px)) calc(-8 * var(--basic-unit-px)) calc(24 * var(--basic-unit-px)) var(--shade-light), calc(8 * var(--basic-unit-px)) calc(8 * var(--basic-unit-px)) calc(24 * var(--basic-unit-px)) var(--shade-dark),
                calc(-16 * var(--basic-unit-px)) calc(-16 * var(--basic-unit-px)) calc(16 * var(--basic-unit-px)) var(--shade-inset-light) inset, calc(16 * var(--basic-unit-px)) calc(16 * var(--basic-unit-px)) calc(16 * var(--basic-unit-px)) var(--shade-inset-dark) inset;
}


#container::before {
    content: "";
    width: calc(0.88 * var(--basic-unit));
    height: calc(0.88 * var(--basic-unit));
    border: calc(0.4 * var(--basic-unit)) solid var(--shade-primary);
    z-index: 1;
}

.hand {
    left: calc(50% - calc(0.5 * var(--basic-unit-px)));
    bottom: calc(50% - calc(5 * var(--basic-unit-px)));
    width: var(--basic-unit-px);
    min-width: 1px;
    background: -webkit-linear-gradient(bottom,var(--shade-primary) calc(5 * var(--basic-unit-px)), rgba(0,0,0,0) calc(5 * var(--basic-unit-px)), rgba(0,0,0,0) calc(15 * var(--basic-unit-px)), var(--shade-primary) calc(15 * var(--basic-unit-px)));
    transform-origin: 50% calc(100% - calc(5 * var(--basic-unit-px)));
    transform: rotate(0deg) translateY(calc(5 * var(--basic-unit-px)));
}


#hour {
    width: calc(3 * var(--basic-unit-px));
    height: calc(20% + calc(10 * var(--basic-unit-px)));
    left: calc(50% - calc(1.5 * var(--basic-unit-px)));
}

#min {
    height: calc(30% + calc(10 * var(--basic-unit-px)));
}


#sec {
    height: calc(35% + calc(10 * var(--basic-unit-px)));
    background: -webkit-linear-gradient(bottom, var(--shade-secondary) calc(5 * var(--basic-unit-px)), rgba(0,0,0,0) calc(5 * var(--basic-unit-px)), rgba(0,0,0,0) calc(15 * var(--basic-unit-px)), var(--shade-secondary) calc(15 * var(--basic-unit-px)));
}

#rotateScreen, label[for = "toggleAside"] {
    display: none;
}


@media (orientation: portrait) {
    :root {
        --basic-unit: 1vw;
        --basic-unit-px: 0.126vw;
    }

    aside {
        left: -15rem;
        transition: left 0.5s;
    }

    .sidebar-active {
        left: 0!important;
    }

    label[for = "toggleAside"] {
        display: inline-block;
    }
    
    section {
        width: 100vw;
    }
    
    #container {
        transform: scale(1.25);
        max-width: 50vh;
        max-height: 50vh;
    }
}


@media (orientation: landscape) and (max-height: 575px) {
    body {
        background: var(--shade-toggle);
    }

    main {
        display: grid;
    }

    main > *{
        display: none;
    }

    #rotateScreen {
        display: block;
        text-align: center;
        place-self: center;
    }
}